afew==1.3.0
alabaster==0.7.11
asn1crypto==0.24.0
autopep8==1.4.3
Babel==2.6.0
backports==1.0
bitstring==3.1.5
cairocffi==0.9.0
capstone==4.0.1
certifi==2018.11.29
cffi==1.12.1
chardet==3.0.4
Click==7.0
cryptography==2.5
cycler==0.10.0
Cython==0.29.5
dkimpy==0.6.2
docutils==0.14
fido2==0.5.0
flaggie==0.2.1
future==0.17.1
gdbus-codegen==2.58.3
gemato==14.0
gentoolkit==0.4.2.post1
gentoopm==0.3.0
hdlparse==1.0.4
idna==2.8
imagesize==1.0.0
ipaddress==1.0.22
java-config==2.2.0
jedi==0.13.2
Jinja2==2.10
keystone==0.9
kiwisolver==1.0.1
lxml==4.3.1
M2Crypto==0.31.0
Mako==1.0.7
MarkupSafe==1.0
matplotlib==2.2.2
mccabe==0.6.1
meson==0.49.2
mpmath==1.1.0
ndg-httpsclient==0.4.2
notmuch==0.27
numpy==1.15.4
olefile==0.46
packaging==18.0
parso==0.3.1
pexpect==4.6.0
pfl==3.0
Pillow==5.4.1
pluggy==0.8.1
ply==3.11
portage==2.3.62
ptyprocess==0.5.2
pyasn1==0.4.2
pyblake2==1.1.2
pycairo==1.17.0
pycodestyle==2.4.0
pycparser==2.19
pydocstyle==3.0.0
pydot==1.2.3
pyflakes==2.0.0
Pygments==2.3.1
pygobject==3.28.3
PyOpenGL==3.1.0
pyOpenSSL==19.0.0
pyparsing==2.3.0
PyQt5==5.12.dev1812231618
PyQt5-sip==4.19.14
pyscard==1.9.7
PySocks==1.6.8
python-dateutil==2.7.5
python-jsonrpc-server==0.1.0
python-language-server==0.21.5
pytz==2018.4
pyusb==1.0.2
pyxattr==0.6.1
PyYAML==3.13
repoman==2.3.12
requests==2.21.0
rope==0.11.0
scipy==1.1.0
scour==0.36
setuptools-scm==3.2.0
sip==4.19.14
six==1.12.0
smart-live-rebuild==1.3.6
snowballstemmer==1.2.1
Sphinx==1.7.5
sphinx-rtd-theme==0.2.4
sphinxcontrib-websupport==1.1.0
SQLAlchemy==1.2.9
ssl-fetch==0.4
symbolator==1.0.2
sympy==1.3
urllib3==1.24.1
versioneer==0.16
Whoosh==2.7.4
xcffib==0.6.0
yapf==0.25.0
youtube-dl==2019.2.18
yubikey-manager==2.0.0
